.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.div {
  shape-margin: 0cqmax;
  text-shadow: 10;
  shape-margin: 200%;
}

.h2 {
  align-self: center;
  align-items: center;
}

.body {
  align-items: center;
  animation: backwards;
}

.div {
  align-items: center;
}
.w3-container w3-card w3-white {
  align-items: center;
  display: inline-block;
  left: auto;
}
.div {
  color: aqua;
}
.p {
  color: rgb(137, 21, 21);
}
